[Desktop Entry]
Name=JS-Forge
Exec=AppRun
Icon=JS-Forge-Icon
Type=Application
Categories=Utility;
Comment=A Bash-based launcher and script runtime built around a hybrid TUI/GUI workflow, lightweight environment probing, and extension loading.
Keywords=bash;script;scripting;linux;JS-Forge;

X-AppImage-Version=1.1.0-beta
X-AppImage-Name=JS-Forge
X-AppImage-Arch=x86_64
